* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  gap: 5vw;
}

.animarted_card, 
.animarted_card2 {
  display: grid;
  place-items: center;
  position: relative;
  height: 500px;
  width: 350px;
  background-color: #222;
  border-radius: 10px;
  cursor: pointer;
}

svg {
  color: rgba(254,254,254,0.1);
  z-index: 1;
}

.animarted_card::before {
  position: absolute;
  content: '';
  height: 500px;
  width: 350px;
  background-color: tomato;
  border-radius: 15px;
  z-index: -1;
  transition: 0.3s;
  animation: animate 2s linear infinite;
}

.animarted_card:hover::before {
  height: 512px;
  width: 362px;
}
@keyframes animate {
  50% {
    filter: hue-rotate(350deg);
  }    
}

.animarted_card2 {
    overflow: hidden;
}
.animarted_card2::before {
  position: absolute;
  content: '';
  width: 50%;
  height: 180%;
  background-color: #fff;
  transform: rotate(45deg);  
}

.animarted_card2:hover::before {
  animation: animate2 2s linear infinite;
}
@keyframes animate2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animarted_card2::after {
  position: absolute;
  content: '';
  inset: 5px;
  background-color: #222;
  border-radius: 8px;
}