*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", verdana, arial, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}
.notes_area {
  position: relative;
  inset: 0;
  width: 100%;
  height: 100%;
}

.note_card {
  background-color: #333;
  min-width: 170px;
  min-height: 120px;
  display: inline-block;
  border-radius: 8px;
  /* overflow: hidden; */
  position: absolute;
}

.note_card.active {
  border: 1px solid #0078d4;
  resize: both;
}

.default_note {
  width: 305px;
  height: 300px;
  /* margin-left: 50px;
  margin-top: 50px; */
}
.note_card .header, .note_card .note_card .header {
  background-color: #e6b905;
  width: 100%;
  min-height: 8px;
  transition:linear 2s;
  cursor: move;
  cursor: -moz-grab;
  border-radius: 8px 8px 0px 0px;
}

.note_card.active .header {
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.note_card .header .icon, .note_card.active .note_card .header .icon {
  display: none;
  cursor: pointer;
}
.note_card.active .header .icon {
  width: 30px;
  height: 30px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note_card.active .header .add-more-icon:hover {
  background-color: #33333333;
}

.note_card.active .header .right_side {
  display: flex;
}

.note_card.active .header .close-icon {
  transform: rotate(45deg);
}

.note_card .note-body {
  width: 100%;
  height: calc(100% - 60px);
  border: none;
  color: #adadad;
  padding: 12px;
  font-size: 12px;
}
[contenteditable]:focus-visible, *:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
}
.note_card.active .note-body {
  /* background-color: #0078d4; */
}

.note_card .note-footer {
  width: 100%;
  height: 30px;
  border-top: 1px solid #444;
}


.notes_list_area {
  /* background: gray; */
  width: 320px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  height: 500px;
}

.notes_list_area .header {
  background-color: transparent; 
}
.notes_list_area .note-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.icon-rtl {
  padding: 8px 30px 8px 8px;
  background: url('./search.svg') no-repeat right;
  background-size: 20px;
  width: 100%;
  border: none;
  background-color: gray;
  background-position: calc(100% - 6px) 6px;
}

.notes_list_area .note-body h2, .notes_list_area .note-body h2 {
  color: white;
}
.notes_area .notes_list_area .header .icon {
  color: #d0caca;
}
::placeholder  {
  color: #d0caca;
  opacity: 1; /* Firefox */
}
  
::-ms-input-placeholder { /* Edge 12 -18 */
  color: #d0caca;
}

.notes__list {
  width: 100%;
}
.notes__list .note_card {
  width: 100%;
  position: relative;
  border: 1px solid #444;
  min-height: 45px;
  padding-bottom: 8px;
}
.notes__list .note_card.open {
  border: 1px solid #0078d4;
}
  
.notes__list .note_card .editor {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  padding: 12px 12px 0;
  height: fit-content;
}

.notes__list .note_card:hover {
  background-color: #c4bfbf3d;
}

.notes__list .note_card:hover .menu > li > a {
  color: #fff;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  text-wrap: nowrap;
}
.menu-wrapper {
  position: absolute;
  right: 0;
}

.menu {
  display: block;
  /* margin: 0 auto; */
  position: relative;
  /* width: 200px; */
}

.menu > li > a {
  /* background-color: #0078d4; */
  color: #adadad;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0 12px;
}
.menu > li > a svg {
  width: 24px;
  height: 24px;
}

.menu ul {
  background: #ddd;
  height: 0;
  right: 0;
  opacity: 0;
  position: absolute;
  transition: all .5s ease;
  top: 20px;
  width: fit-content;
}

.menu li:hover ul {
  height: auto;
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}

.menu ul a {
  color: #000;
  display: block;
  padding: 5px 20px;
}
.menu ul li a {
  display: flex;
  gap: 10px;
  align-items: center;
}
.menu ul li a:hover {
  background-color: #ccc;
}
.menu ul li a svg {
  width: 16px;
  height: 16px;
}